<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full Regression of Vidfo Player" verbose="1">

    <!-- Global listeners for all tests -->
    <listeners>
        <listener class-name="listeners.ResultListener"/>
    </listeners>


    <listeners>
        <listener class-name="listeners.ScreenshotListner"/>
    </listeners>


    <!-- Debug Tests  Yeh Smoke Test Kay Liay-> Dirf Aik Method Ko Jab Run Karna Ho-->
    <test name="Debug Ads Test" preserve-order="true">
        <classes>
            <class name="tests.DebugAdsTest">
                <methods>
                    <include name="SplashToHome"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- Permission Tests -->
    <test name="Permission Tests" preserve-order="true">
        <classes>
            <class name="tests.PermissionTests"/>
<!--            <class name="PermissionTestCase"/>-->
        </classes>
    </test>

<!--    &lt;!&ndash; Release Tests &ndash;&gt;-->
<!--    <test name="Release Ads Tests" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="ReleaseTestAdsCases"/>-->
<!--        </classes>-->
<!--    </test>-->

    <!--    &lt;!&ndash; All Clicks Test &ndash;&gt;-->
    <!--    <test name="All Clicks Test" preserve-order="true">-->
    <!--        <classes>-->
    <!--            <class name="org.example.AllClicks"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <!--    &lt;!&ndash; Clear App Data (Cleanup) &ndash;&gt;-->
    <!--    <test name="Cleanup" preserve-order="true">-->
    <!--        <classes>-->
    <!--            <class name="ClearAppData"/>-->
    <!--        </classes>-->
    <!--    </test>-->

</suite>